@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #F0F4F7; 
    color: #1B3B52;  
    font-family: 'Lato', Helvetica, sans-serif; 
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h1, h2, h3, .home-title, .msg h2 {
    font-family: 'Montserrat', sans-serif;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

/* --- Centering --- */
nav a, 
#hero-msg h1, 
#hero-msg h4, 
.button-box, 
main section {
    text-align: center;
}

/* --- Navigation & Header --- */
header {
    background-color: #1B3B52; 
}

nav a {
    color: #F0F4F7;    
    text-decoration: none;
    padding: 35px;
    display: inline-block;
}   

nav a:hover {
    background-color: #4EB2C0; 
    color: #1B3B52;
}

#logo_link {
    padding-top: 5px;
}

/* --- Hero & Titles --- */
#background {
    height: 725px;
    background-color: #F8B133; 
}

#hero-img {
    width: 100%;
}

.home-title {
    font-family: 'Montserrat', sans-serif; 
    font-size: 2em; 
    margin-top: 10px;
    color: #1B3B52;
}

/* --- Message Section --- */
.msg { 
    background-color: #1B3B52;
    color: #F0F4F7;      
    padding: 35px; 
    line-height: 1.5em;
}

.msg h2 {
    color: #F0F4F7;
}

.msg p {
    color: #F0F4F7;
    font-size: .8em;
    padding-bottom: 15px;
}

/* --- Button Styling (.book and .join) --- */
.book, .join {
    background-color: #F8B133; 
    color: #1B3B52;            
    text-decoration: none;    
    font-size: 18px; 
    padding: 15px 30px; 
    margin-top: 50px; 
    border-radius: 5px; 
    display: inline-block; 
}

.book:hover, .join:hover {
    background-color: #4EB2C0; 
    color: #F0F4F7;          
}

/* --- Cards and Images --- */
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0; 
}

.card-img {
    border: 10px solid #F8B133; 
}

main section img {
    box-sizing: border-box;
}

.logo, .icon {
    width: 80px;
}

.icon {
    padding-top: 10px; 
}

/* --- Footer --- */
footer {
    background-color: #1B3B52; 
    color: #F8B133;
    padding: 25px 50px; 
    margin-top: 200px; 
}

footer a {
    color: #F8B133; 
    text-decoration: none;         
}

footer p {
    font-size: 1.2em;
}

footer a:hover {
    color: #4EB2C0;  
    text-decoration: underline;         
}

footer .social img {
    padding-top: 15px;
}