#content {
    max-width: 1600px;
    margin: 0 auto;
}

/* --- Centering --- */
nav a, 
#hero-msg h1, 
#hero-msg h4, 
.button-box, 
main section {
    text-align: center;
}

/* --- Background Colors --- */
body {
    background-color: #F0F4F7; 
    color: #1B3B52;        
}

header, footer {
    background-color: #1B3B52; 
}

#background {
    height: 725px;
    background-color: #F8B133; 
}

.msg { 
    background-color: #1B3B52;
    color: #F0F4F7;      
    padding: 35px;
}

/* --- Foreground (Font) Colors --- */
nav a {
    color: #F0F4F7;      
}   

nav a:hover {
    background-color: #4EB2C0; 
    color: #1B3B52;            
}

.home-title, h4, .msg h2 {
    color: #1B3B52;            
}

.msg h2, .msg p {
    color: #F0F4F7;           
}

footer, footer a {
    color: #F8B133;          
}

footer a:hover {
    color: #4EB2C0;           
}

/* --- Button Styling (.book and .join) --- */
.book, .join {
    background-color: #F8B133; 
    color: #1B3B52;            
    text-decoration: none;    
}

.book:hover, .join:hover {
    background-color: #4EB2C0; 
    color: #F0F4F7;          
}

/* --- Sizes and Decoration --- */
.logo, .icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}